:root {
  --blue-400: #4ea8de;
  --blue-500: #1e6f9f;
  --purple-400: #8284fa;
  --purple-500: #5e60ce;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --red-500: #e25858;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--gray-600);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 46rem;
  margin: 0 auto;
}

.newTask {
  display: flex;
  width: 100%;
  margin: -27.5px 0 4.063rem;
}

.newTask input {
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  padding: 16px;
  flex: 1;
  color: var(--gray-300);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border: 0;
  resize: none;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 3px var(--purple-500);
}

.newTask button {
  width: 5.625rem;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--blue-500);
  height: 3.25rem;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-left: 8px;
  border: none;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.8;
}

.newTask .plusClircle {
  margin-left: 8px;
}

.statusTask {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.createdTask {
  width: 50%;
  color: var(--blue-400);
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.finishTask {
  width: 50%;
  color: var(--purple-400);
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

.createdTask span {
  width: 24px;
  height: 19px;
}

.finishTask span {
  width: 52px;
  height: 19px;
}

.createdTask span,
.finishTask span {
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--gray-400);
  margin-left: 8px;
}

.listTask {
  width: 100%;
}

.listTask ul {
  padding: 0;
}

.task {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.checked{
  text-decoration: line-through;
}

.nameTask {
  color: var(--gray-100);
  font-size: 1rem;
  line-height: 140%;
  padding: 0 1rem;
  flex: 1;
}
.check:hover{
  cursor: pointer;
  opacity: 0.7;
}

.circle {
  color: var(--blue-400);
}
.circleCheck {
  color: var(--purple-500);
}
.trash {
  color: var(--gray-300);
  cursor: pointer;
  padding: 0.3125rem 0.375rem;
  border-radius: 4px;
}
.trash:hover {
  outline: transparent;
  background: var(--gray-400);
  color: var(--red-500);
}

.listEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 244px;
}
.listEmpty span{
  color: var(--gray-300);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  margin-top: 1rem;
}
.listEmpty p{
  color: var(--gray-300);
  font-size: 1rem;
}